<h1><img class="hero" src="./assets/images/marketplace-sticky.png" alt="Marketplace"></h1>
<ul class="tabs">
  <li><img class="sticky" src="./assets/images/bulletin-board-sticky.png" alt="Bulletin Board"></li>
  <li class="little-green-button"><a routerLink="/directory">Business Directory</a></li>
</ul>
<section class="hub-post">
  <p class="poster"><mark>@Biz</mark></p>
  <p class="post-content">Selling a gray upholstered chair - barely used.</p>
</section>
<section class="hub-post">
  <p class="poster"><mark>@Pam</mark></p>
  <p class="post-content">Support _____’s store: XXXXXX</p>
</section>
<section class="hub-post">
  <p class="poster"><mark>@Scott</mark></p>
  <p class="post-content">Something</p>
</section>
<section class="hub-post">
  <p class="poster"><mark>@Sally</mark></p>
  <p class="post-content">Something</p>
</section>

<section class="new-hub-post">
  <form class="blue">
    <label for="new-post">New Post</label><br>
    <input class="blue-post-box" type="text" id="new-post" name="new-post" placeholder="Type here..."><br>
  </form>
  <p class="blue-post-button">Post</p>
</section>

<app-problem></app-problem>
