<h1><img class="hero" src="./assets/images/pending-sticky.png" alt="Community Boards"></h1>


<section class="intro">
  <p class="green"> Your Membership is Pending!</p>
  <p class="green">Thank you for filling out the sign up form. We just want to double-check
    that you meet the criteria below. This could take 1-48 hours. If you haven't heard
    from us in a couple days, please click the "Report a Problem" button!
  </p>
  <p>...</p>
  <p class="blue">Remember: This site is for you if:</p>
  <p class="blue">⭐ You have taken or taught at least 1 class at HVC</p>
  <p class="blue">⭐ You agree to follow all HVC Policies</p>
  <p>...</p>
  <p class="green">NEVER MISS A CHANCE FOR MORE JOY & EASE!​</p>
  <p class="green">LET'S MAKE THE HAPPY VALLEY HAPPIER!</p>
</section>

<app-problem></app-problem>
