<h1><img class="hero" src="../assets/images/community-boards-sticky.png" alt="Community Boards"></h1>


<section class="intro">
  <p class="green"> HVC Community Boards is a hub for the HVC community to connect and support each other.
    Connect with your classmates, your fellow cast members, and the whole HVC community! Find out when your
    friends will be at events like More Improv More Better! Support members of the community by visiting
    Marketplace Boards!</p>
  <p>...</p>
  <p class="blue">This site is for you if:</p>
  <p class="blue">⭐ You have taken or taught at least 1 class at HVC</p>
  <p class="blue">⭐ You agree to follow all HVC Policies</p>
  <p>...</p>
  <p class="green">NEVER MISS A CHANCE FOR MORE JOY & EASE!​</p>
  <p class="green">LET'S MAKE THE HAPPY VALLEY HAPPIER!</p>
  <p class="green-button"><a routerLink="/signup">Join</a></p>
</section>

<section class="login-form">
  <h2><img class="sticky" src="../assets/images/log-in-sticky.png" alt="Log In"></h2>
  <form class="blue">
    <label for="e-mail">e-mail</label><br>
    <input class="blue-box" type="text" id="e-mail" name="e-mail"><br>
    <label for="password">password</label><br>
    <input class="blue-box" type="text" id="password" name="password">
  </form>
  <p class="blue-button">Go!</p>
</section>

<app-problem></app-problem>