<h1><img class="hero" src="./assets/images/signup-sticky.png" alt="Sign up"></h1>

<section class="signup-form">
  <form class="green">
    <label for="firstname">first name</label><span class="red"> *</span><br>
    <input class="green-box" type="text" id="firstname" name="firstname"><br>
    <label for="lastname">last name</label><span class="red"> *</span><br>
    <input class="green-box" type="text" id="lastname" name="lastname"><br>
    <label for="username">username</label><span class="red"> *</span><br>
    <input class="green-box" type="text" id="username" name="username"><br>
    <label for="e-mail">e-mail</label><span class="red"> *</span><br>
    <p class="red">must contain ‘@’</p>
    <input class="green-box" type="text" id="e-mail" name="e-mail"><br>
    <label for="password">password</label><span class="red"> *</span><br>
    <p class="red">must contain </p>
    <p class="red">★ 1 capital letter</p>
    <p class="red">★ 1 lowercase letter</p>
    <p class="red">★ 1 number</p>
    <p class="red">★ 1 symbol</p>
    <input class="green-box" type="text" id="password" name="password"><br>
    <label for="repassword">repeat password</label><span class="red"> *</span><br>
    <input class="green-box" type="text" id="repassword" name="repassword">
  </form>
  <p class="little-green-button"><a href="./pending.html">Go!</a></p>
  <p class="blue-button"><a href="./index.html">Back to Login</a></p>
</section>

<section class="problem">
  <p class="green">Having technical issues?</p>
  <p class="green">Feeling uncomfortable about another member’s post?</p>
  <p class="little-green-button"><a href="./report.html">Report a Problem</a></p>
</section>
