<h1><img class="hero" src="./assets/images/new-listing-sticky.png" alt="New Listing"></h1>


<section class="report-form">
  <form class="green">
    <label for="title">listing title</label><span class="red"> *</span><br>
    <input class="green-box" type="text" id="title" name="title" placeholder="Type here..."><br>
    <label for="category">category</label><br>
    <select class="green-box" type="text" id="category" name="category">
      <option value="retail">Retail</option>
      <option value="healthcare">Healthcare</option>
      <option value="restaurant">Restaurant/Bar</option>
      <option value="service">Service</option>
    </select><br>
    <label for="location" type="text" id="location" name="location">location</label><br>
    <select class="green-box" type="text" id="location" name="location">
      <option value="northampton">Northampton, MA</option>
      <option value="hadley">Hadley, MA</option>
      <option value="amherst">Amherst, MA</option>
      <option value="brattleboro">Brattleboro, VT</option>
    </select><br>
    <label for="website" class="message">website</label><br>
    <input class="green-box" type="text" id="website" name="website" placeholder="Type here..."><br>
    <label for="description" class="message">description</label><br>
    <input class="green-box" type="text" id="description" name="description" placeholder="Type here..."><br>
  </form>
  <p class="little-green-button"><a href="./directory.html">Add Listing</a></p>
</section>

<section class="problem">
  <p class="green">Having technical issues?</p>
  <p class="green">Feeling uncomfortable about another member’s post?</p>
  <p class="little-green-button"><a href="./report.html">Report a Problem</a></p>
</section>
