<h1><img class="hero" src="./assets/images/marketplace-sticky.png" alt="Marketplace"></h1>

<ul class="tabs">
  <li class="blue-button"><a routerLink="/bulletin-board">Bulletin Board</a></li>
  <li><img class="sticky" src="./assets/images/business-directory-sticky.png" alt="Business Directory"></li>

</ul>
<section class="search-and-filter">
  <form class="green">
    <label for="search">Search by listing title</label><br>
    <input class="green-box" type="text" id="search" name="search" placeholder="Type here..."><br>
  </form>
  <p class="green-search-button">Search</p>
  <p>Filter by:</p>
  <form class="green">
    <label for="filter-category">category</label><br>
    <select class="green-box" type="text" id="filter-category" name="filter-category">
      <option value="retail">Retail</option>
      <option value="healthcare">Healthcare</option>
      <option value="restaurant">Restaurant/Bar</option>
      <option value="service">Service</option>
    </select><br>
    <label for="filter-location" type="text" id="filter-location" name="filter-location">location</label><br>
    <select class="green-box" type="text" id="filter-location" name="filter-location">
      <option value="northampton">Northampton, MA</option>
      <option value="hadley">Hadley, MA</option>
      <option value="amherst">Amherst, MA</option>
      <option value="brattleboro">Brattleboro, VT</option>
    </select><br>
  </form>
  <p class="green-search-button">Filter</p>
</section>
<section class="listing">
  <p class="poster"><mark>@Biz</mark></p>
  <p class="listing-content">Somebody’s Shop</p>
  <p class="listing-content">Retail</p>
  <p class="listing-content">Northampton, MA</p>
  <p class="listing-content">www.somebodyshop.com</p>
  <p class="listing-content">We sell locally made gifts and treats.</p>
</section>
<section class="listing">
  <p class="poster"><mark>@Nobody</mark></p>
  <p class="listing-content">Dr. Nobody</p>
  <p class="listing-content">Healthcare</p>
  <p class="listing-content">Amherst, MA</p>
  <p class="listing-content">www.doctornobody.health</p>
  <p class="listing-content">We are a Behavioral Health practice specializing in supporting the LGBTQIA+ community!</p>
</section>

<section class="add-listing">
  <p class="little-green-button"><a routerLink="/new-listing">Add New Listing</a></p>
</section>

<app-problem></app-problem>
