<h1><img class="hero" src="./assets/images/hub-sticky.png" alt="Hub"></h1>
<section class="hub-post">
  <p class="poster"><mark>@Biz</mark></p>
  <p class="post-content">So excited for Not In Charge this weekend! Who else is going?!</p>
</section>
<section class="hub-post">
  <p class="poster"><mark>@Pam</mark></p>
  <p class="post-content">Registration is now open for Short Form I!</p>
</section>
<section class="hub-post">
  <p class="poster"><mark>@Scott</mark></p>
  <p class="post-content">I’m a little teapot, short and stout.
  </p>
</section>
<section class="hub-post">
  <p class="poster"><mark>@Sally</mark></p>
  <p class="post-content">See you there Biz!</p>
</section>

<section class="new-hub-post">
  <form class="blue">
    <label for="new-post">New Post</label><br>
    <input class="blue-post-box" type="text" id="new-post" name="new-post" placeholder="Type here..."><br>
  </form>
  <p class="blue-post-button">Post</p>
</section>

<app-problem></app-problem>