<!DOCTYPE html>
<html lang="en">

<head>
    <title>HVC Community Boards HTML wireframes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Cabin&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
    
    <main role="main">
        <header role="banner">
            <nav role="navigation">
                <img class="logo" src="images/HVC-logo.png" alt="HVC logo" />
                <ul class="nav-items">
                    <li><a href="./hub.html">HUB</a></li>
                    <li><a href="./bulletin-board.html">BULLETINS</a></li>
                    <li><a href="./directory.html">DIRECTORY</a></li>
                    <li><a href="./report.html">REPORT</a></li>
                    <li><a href="./index.html">LOGOUT</a></li>
                </ul>
            </nav>
            <h1><img class="hero" src="images/hub-sticky.png" alt="Hub"></h1>
        </header>

        <section class="hub-post">
            <p class="poster"><mark>@Biz</mark></p>
            <p class="post-content">So excited for Not In Charge this weekend! Who else is going?!</p>
        </section>
        <section class="hub-post">
            <p class="poster"><mark>@Pam</mark></p>
            <p class="post-content">Registration is now open for Short Form I!</p>
        </section>
        <section class="hub-post">
            <p class="poster"><mark>@Scott</mark></p>
            <p class="post-content">I’m a little teapot, short and stout.
            </p>
        </section>
        <section class="hub-post">
            <p class="poster"><mark>@Sally</mark></p>
            <p class="post-content">See you there Biz!</p>
        </section>
    
        <section class="new-hub-post">
            <form class="blue">
                <label for="new-post">New Post</label><br>
                <input class="blue-post-box" type="text" id="new-post" name="new-post"placeholder="Type here..."><br>
            </form>
            <p class="blue-post-button">Post</p>
        </section>

        <section class="problem">
            <p class = "green">Having technical issues?</p>
            <p class = "green">Feeling uncomfortable about another member’s post?</p>
            <p class = "little-green-button"><a href = "./report.html">Report a Problem</a></p>
        </section>

    </main>
    <footer role="content-info">
        <a href='https://www.freepik.com/vectors/post-note'>Post note vector created by macrovector - www.freepik.com</a>
        <section class="contact" id="contact">
            <h3>app by Biz</h3>
            <ul class="contact-list">
                <li>
                    <a href="mailto:elizabeth.biz.hight@gmail.com?subject=Responding%20to%20Your%20Portfolio!">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/elizabeth-biz-hight/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/biz-codes" target="_blank" >
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </section>
    </footer>
</body>

</html>